body { background: white; color: black; float: none; background: transparent none;}

div { color: black; }

img { display: none; }

table{ display:none; }

button{ display:none; }

p {color: black;}

h1.title {
	font-size: 18pt;
	font-weight: bold;
	text-align:center;
	margin-top: 15px;
	margin-bottom: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	}
	
h2.subtitle	{
	color: black ;
	font-size: 14pt;}

.css {text-align:right; }

.resume {
   width: auto;
   margin: 0;
   padding-left: 5pt;
   padding-right: 5pt;
   border: 0; 
   float: none !important;
   color: black;
   background: transparent none;