body {   color: grey;
	     background-color: black;
	     font-size: 10pt;
	     font-family: Tahoma, Arial, Helvetica, sans-serif;  }
	
body.centdiv {text-align: center; min-width: 600px;}
	
div 	{background-color: black;}
		
p 	{  color: grey; font-size: 10pt; }

p.buttons {text-align:center;}

ul{list-style-type: square;}

h1.title {
	font-size: 36pt;
	font-weight: bold;
	text-align:center;
	margin-top: 15px;
	margin-bottom: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: purple;
	}
	
h2.subtitle	{color: white;}

.css {text-align:right; }

#wrapper {margin:0 auto; width:600px; text-align: left;}

#lsidebar {float:right; padding:10px; }

.polaroid {	border: solid 1px black; 
			background: white;
			width: 200px;
			padding: 15px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: center;
			color: purple			}

/* Star hack for IE 6 bug */
* html #footer { height:1px; }